 *{
    margin: 0;
    padding:0;
    box-sizing:border-box;
    color:black;
}

body{
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT2m8ft29Ob2jGgEX9ZE-CO1IeRqdqUpGEje6Ie-2biyjRj2HH3lM8b_NTFSX5-W8gXm2E&usqp=CAU");
    background-size: cover;
    background-repeat: no-repeat;

}
nav{
    background: #1b1b1b;
}
nav:after{
    content: '';
    clear: both;
    display: table;
}

nav .logo{
    float: left;
    color: white;
    font-size: 27px;
    font-weight: 600;
    line-height: 70px;
    padding-left: 60px;
    
}

nav ul{
    float: right;
    list-style:none;
    margin-right: 40px;
    position: relative;
   
}
nav ul li{
    float: left;
    display:inline-block ;
    background:#1b1b1b ;
    margin: 0 5px;
}
nav ul li a{
    color: white;
    text-decoration: none;
    line-height: 70px;
    font-size: 18px;
    padding: 8px 15px;
}

nav ul li a:hover{
border-radius: 5px;
color:cyan ;
    box-shadow: 3px 5px 2px red, 0 0 5px #33ffff,
    0 0 5px #66ffff;  
    transition: 0.32s;  
}


nav ul ul{
    position: absolute;
    top: 90px;
    opacity: 0;
    visibility:hidden;
    transition: top 0.3;
    
}
nav ul ul li a{
    line-height: 50px;
}
nav ul ul li a:hover{
    color:yellow;
    box-shadow: none;
}

nav ul li:hover > ul{
    opacity: 1;
    top: 70px;
    visibility: visible;
}

nav ul ul li{
    position: relative;
    margin: 0px;
    width: 150px;
    float: none;
    display: list-item;
    border-bottom: 1px solid rgba(0,0,0,0.3);
}

nav ul ul ul li{
    position:relative;
    top:-70px ;
    left: 150px;
    
}

.fa-plus{
    margin-left: 40px;
    font-size: 25px;
    color: #33ffff;
    
    
}